<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="new-pizza">
    <h1 class="title">Nouveautés</h1>
    <app-card-img *ngIf="newPizza;else elseBlockNew" class="w-100" routerLink="pizza/{{newPizza.id}}" routerDirection="forward" [pizza]="newPizza" class="w-80"></app-card-img>
    <ng-template #elseBlockNew><ion-text>Pas de nouveauté</ion-text></ng-template>
  </div>

  <div class="moment-pizzas">
    <div>
      <h1 class="title">En ce moment</h1>
      <ion-slides *ngIf="momentPizzas !== null;else elseBlockMoment" [options]="slideOpt">
          <ion-slide routerLink="pizza/{{pizza.id}}" routerDirection="forward" *ngFor='let pizza of momentPizzas' class="w-100">
              <div class="arrows prev"></div>
              <app-card [pizza]="pizza" class="w-80"></app-card>
              <div class="arrows next"></div>
          </ion-slide>
      </ion-slides>
      <ng-template #elseBlockMoment><ion-text>Pas de pizza du moment</ion-text></ng-template>
    </div>
  </div>

</ion-content>
