<ion-header>
  <ion-toolbar>
      <ion-row class="jc-between">
        <ion-button fill="clear" href="/" >
          <img src="/assets/icon/favicon.png" alt="logo" class="margin-0" width="35"/>
        </ion-button>
        <ion-buttons  class="jc-center" style="width: 59px">
          <ion-menu-button autoHide="false" fill="clear"><ion-icon name="settings-outline" color="tertiary"></ion-icon></ion-menu-button>
        </ion-buttons>
      </ion-row>
  </ion-toolbar>
</ion-header>
<app-settings></app-settings>
