<ion-content class="form-content">
  <ion-row>
    <ion-col class="ion-text-center">
      <img src="/assets/icon/favicon.png" alt="logo" width="50"/>
    </ion-col>
  </ion-row>

  <form class="form-ai-center" (ngSubmit)="resetPassword()" [formGroup]="userPassword">
    <div class="input-group">
      <ion-text class="form-title" color="primary">Changement de votre mot de passe oublié</ion-text>
      
      <ion-item class="" lines="full">
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password" fill="clear" formControlName="password" required></ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Mot de passe requis</span>
      </div>

      <ion-item class="" lines="full">
        <ion-label position="floating">Confirmer le mot de passe</ion-label>
        <ion-input type="password" fill="clear" formControlName="confirmPassword" required></ion-input>
      </ion-item>
      <div *ngIf="(confirmPassword.dirty || confirmPassword.touched) && confirmPassword.errors" class="errors">
        <span *ngIf="confirmPassword.errors?.required">Mot de passe requis</span>
      </div>

    </div>

    <ion-row class="w-80">
      <ion-col class="ion-text-center">
        <ion-button  class="ion-padding" type="submit" color="danger" expand="block"><ion-icon slot="start" name="paper-plane-outline"></ion-icon>Envoyer</ion-button>
      </ion-col>
    </ion-row>
  </form> 
</ion-content>