<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pizza">
      <ion-icon name="pizza-outline" color="tertiary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="ingredient">
      <ion-icon name="pricetag-outline" color="tertiary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="order">
      <ion-icon name="bag-remove-outline" color="tertiary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="user">
      <ion-icon name="people-outline"  color="tertiary"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

