<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline" color="secondary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="browse">
      <ion-icon name="search-outline" color="secondary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="cook">
      <ion-icon name="add-outline" color="secondary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline" color="secondary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-outline" color="secondary"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
