.cart-counter {
    color: black;
    width: 18px;
    font-size: 13px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid;
    background: white;
    top: 7px;
    right: 20px;
    text-align: center;
}