<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="form-content">
  <ion-grid class="h-100">
    <ion-row class="ai-center">
      <form class="form-ai-center w-100" (ngSubmit)="updateUserPassword()" [formGroup]="user">
        <div class="input-group">
          <ion-text class="form-title" color="primary">Mot de passe</ion-text>

          <ion-item lines="full">
            <ion-label position="floating">Mot de passe</ion-label>
            <ion-input type="password" fill="clear" formControlName="password" required></ion-input>
          </ion-item>
          <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
            <span *ngIf="password.errors?.required">Mot de passe requis</span>
          </div>

          <ion-item lines="full">
            <ion-label position="floating">Confirmer le mot de passe</ion-label>
            <ion-input type="password" fill="clear" formControlName="confirmPassword" required></ion-input>
          </ion-item>
          <div *ngIf="(confirmPassword.dirty || confirmPassword.touched) && confirmPassword.errors" class="errors">
            <span *ngIf="confirmPassword.errors?.required">Mot de passe requis</span>
          </div>
        </div>

        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button  class="ion-padding" type="submit" color="danger" expand="block">Modifier</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>
