// Margins / Padding 
ion-content {
    --padding-top: 1%;
    --padding-bottom: 1%;
    --padding-start: 2%;
    --padding-end: 2%;
}

.margin-0 {
    margin: 0;
}

// Sizes
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}


// Positioning
.text-center {
    text-align: center;
    display: block; 
}

.jc-center {
    display: flex;
    justify-content: center;
}

.jc-between {
    display: flex;
    justify-content: space-between;
}

.ai-center  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.margin-auto {
    margin: auto;
}


// Marges 
.p-10 {
    padding: 10px;
}

// Errors 
.errors {
    font-size: small;
    color: #fff;
    background:  var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}