ion-content {
  --padding-start: 10%;
  --padding-end: 10%;
}
ion-title {
  text-align: center;
  margin-top: 50px;
  display: block; 
  position:relative;
  font-size: 25px;
  padding: 0px;
}
.padding{
  margin: 20px;
} 
.marginTop {
  margin-top: 40px;
}