// Content
.form-content {
    --padding-start: 10%;
    --padding-end: 10%;
}

// Title 
.form-title {
    text-align: center;
    display: block; 
    position:relative;
    font-size: 22px;
    padding: 0 0 10px 0;
    font-weight: bold;

}

// Input
.input-group {
    padding: 30px 0 10px 0;
}

// Errors 
.errors {
    font-size: small;
    color: #fff;
    background:  var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}