ion-loading.pizza-loading {
    .loading-wrapper {
        background:  url("../assets/loading/loading.gif") no-repeat center;
        background-size: 90px 100px;
        padding-top: 47px;
        padding-bottom: 36px;
        border-radius: 0.8rem; 
        box-shadow: none;
    }
}

