<ion-content>
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="/assets/icon/favicon.png" alt="logo" width="50"/>
      </ion-col>
    </ion-row>
    <form class="form-ai-center" (ngSubmit)="login()" [formGroup]="credentials">
      <div class="input-group">
        <ion-item class="w-80" lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email" required></ion-input>
        </ion-item>
        <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
          <span *ngIf="email.errors?.required">Email requise</span>
          <span *ngIf="email.errors?.email">Email invalide</span>
        </div>

        <ion-item class="w-80" lines="full">
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input type="password" fill="clear" formControlName="password" required></ion-input>
        </ion-item>
        <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
          <span *ngIf="password.errors?.required">Mot de passe requis</span>
        </div>
      </div>

      <ion-row class="w-80">
        <ion-col class="ion-text-center">
          <ion-button  class="ion-padding" type="submit" color="danger" expand="block">Connexion</ion-button>
          <ion-button  class="ion-padding ion-margin-bottom" type="button" fill="outline" color="danger" expand="block">S'inscrire</ion-button>
          <a [routerLink]="['/forgot-password']" class="">Mot de passe oublié ?</a>
        </ion-col>
      </ion-row>
    </form>
</ion-content>