<ion-content class="form-content">
  <ion-grid class="h-100">
    <ion-row class="ai-center">
      <form class="form-ai-center w-100" (ngSubmit)="login()" [formGroup]="credentials">
          <ion-row>
            <ion-col class="ion-text-center">
              <img src="/assets/icon/favicon.png" alt="logo" width="50"/>
            </ion-col>
          </ion-row>
          <div class="input-group">
            <ion-item lines="full">
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" formControlName="email" required></ion-input>
            </ion-item>
            <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
              <span *ngIf="email.errors?.required">Email requise</span>
              <span *ngIf="email.errors?.email">Email invalide</span>
            </div>

            <ion-item lines="full">
              <ion-label position="floating">Mot de passe</ion-label>
              <ion-input type="password" fill="clear" formControlName="password" required></ion-input>
            </ion-item>
            <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
              <span *ngIf="password.errors?.required">Mot de passe requis</span>
            </div>
          </div>

          <ion-row class="w-80 margin-auto">
            <ion-col class="ion-text-center">
              <ion-button  class="ion-padding" type="submit" color="danger" expand="block">Connexion</ion-button>
              <ion-button  [routerLink]="['/register']" class="ion-padding" type="button" fill="outline" color="danger" expand="block">S'inscrire</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-padding">
            <ion-col class="ion-text-center">
            <a [routerLink]="['/request-email-password']">Mot de passe oublié ?</a>
            </ion-col>
          </ion-row>
        </form>
    </ion-row>
  </ion-grid>
</ion-content>