<app-header></app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar (ionChange)="searchChanged($event)" showCancelButton="always" placeholder="Rechercher" cancelButtonText="Annuler"></ion-searchbar>
  <ion-item>

    <ion-list>
      <ion-chip outline *ngFor="let ingredient of ingredientsDislike">
        <ion-label >{{ingredient.name}}</ion-label>
        <ion-icon name="close-circle" (click)="removeIngredient(ingredient.id)" ></ion-icon>
      </ion-chip>
    </ion-list>

    <ion-icon slot="end" name="add-circle-outline" (click)="openModalHandler()"></ion-icon>
  </ion-item>
  <ion-segment (ionChange)="segmentChanged($event)" value="admin" class="ion-padding-top">
    <ion-segment-button value="admin" id="adminSegment">
      <ion-label>Nos Pizzas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="user" id="userSegment">
      <ion-label>Pizza de la communauté</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list id="pizzaList" class="ion-padding-top">
    <ion-item-sliding *ngFor="let pizza of showPizzas">
      <ion-item routerLink="pizza/{{pizza.id}}" routerDirection="forward" detail>
        <ion-thumbnail slot="start" class="ion-margin-end">
          <ion-img src={{getImagePizza(pizza.image)}}></ion-img>
        </ion-thumbnail>
        <ion-label class="ion-text-wrap"> <h2>{{pizza.name}}</h2> <h4>{{pizza.content}}</h4></ion-label>
        <ion-label slot="end">{{pizza.price}} €</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="presentModal(pizza)">Ajouter au panier</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
  <ion-modal [isOpen]="openModal">
    <ng-template>
      <ion-header >
            <ion-toolbar>
              <ion-title>Ingredient</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="dismissModalHandler()">Fermer</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>

          <ion-content [fullscreen]="true">
            <ion-text>
              <h1 class="title text-center">Cochez tous les ingrédients que vous n'aimez pas et aucune pizza avec ces ingrédients ne vous sera proposée</h1>
            </ion-text>

            <ion-list class="margin-bottom">
              <ion-item *ngFor="let ingredient of ingredients">
                <ion-label>{{ingredient.name}}</ion-label>
                <ion-checkbox slot="end" [(ngModel)]="ingredient.isChecked"></ion-checkbox>
              </ion-item>
            </ion-list>

          </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
