ion-content {
    --overflow: hidden
}

.modal-cart-image {
    width: 40%;
}
.modal-cart-image img{
    border-radius: 20px;
    width: 100%;
}

.modal-cart-action {
    width: 60%;
    align-content: space-around;
    display: grid;
}   
.modal-cart-action .quantity {
    display: flex;
    justify-content: space-around;
} 
.modal-cart-action input {
    width: 40px;
    background-color: white;
    border: 1Px solid black;
}

.modal-cart-action ion-icon {
    font-size: 30px;
}
.modal-cart-action .title h1,h2 {
    margin:0;
    padding: 0;
}