ion-content {
    --overflow: hidden;
}


.img-items {
    border-radius: 10px;
}

ion-avatar {
    width:15% !important;  
    height : 100% !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size 
    
}