<ion-header>
  <ion-toolbar mode="ios">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">
        <img src="/assets/icon/favicon.png" alt="logo" width="35"/>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="form-content">
  <ion-grid class="h-100">
    <ion-row class="ai-center">
      <form class="form-ai-center" (ngSubmit)="requestEmailPassword()" [formGroup]="userEmail">
        <div>
          <ion-text class="form-title" color="primary">Mot de passe oublié ?</ion-text>
          
          <ion-text>
            <small class="text-center">Faite votre demande de réinitialisation en vas d'oublie de votre mot de passe</small>
          </ion-text>
          
          <ion-item class="" lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email" required></ion-input>
          </ion-item>
          <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
            <span *ngIf="email.errors?.required">Email requise</span>
            <span *ngIf="email.errors?.email">Email invalide</span>
          </div>
        </div>

        <ion-row class="">
          <ion-col class="ion-text-center">
            <ion-button  class="ion-padding" type="submit" color="danger" expand="block"><ion-icon slot="start" name="paper-plane-outline"></ion-icon>Envoyer</ion-button>
          </ion-col>
        </ion-row>
      </form> 
    </ion-row>
  </ion-grid>
</ion-content>